<h2 class="title mt-4">Product Details</h2>

<div *ngIf="product" class="block mt-4 p-8 bg-sky-50 rounded-lg">
    <div class="flex items-center justify-between">
        <h3 class="text-xl font-semibold text-zinc-800">
            {{ product.name }}
        </h3>

        <span class="bg-sky-300 text-white font-semibold text-sm px-2 py-1 rounded-xl">
            {{ product.price | currency }}
        </span>
    </div>

    <div class="prose mt-4">
        <p>{{ product.description }}</p>
    </div>

    <button
            (click)="addToCart(product)"
            class="mt-4 px-4 py-2 rounded-lg text-sm font-semibold text-white bg-sky-400 hover:bg-sky-500"
    >
        Buy
    </button>
</div>