<div class="flex items-center justify-between mt-4">
    <h2 class="title">Cart</h2>

    <a
            class="px-4 py-2 rounded-lg text-sm font-semibold text-white bg-sky-400 hover:bg-sky-500"
            routerLink="/shipping"
    >
        Shipping Prices
    </a>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    <div *ngFor="let item of items" class="block bg-sky-50 p-8 rounded-lg">
        <h2 class="text-xl font-semibold text-zinc-800">
            {{ item.name }}
        </h2>

        <span class="mt-4 bg-sky-300 text-white font-semibold text-sm px-2 py-1 rounded-xl">
            {{ item.price | currency }}
        </span>
    </div>
</div>

<form
        (ngSubmit)="onSubmit()"
        [formGroup]="checkoutForm"
        class="mt-4 p-8 rounded-lg max-w-lg bg-zinc-50"
>
    <div class="w-full">
        <label for="name">Name</label> <br>
        <input class="w-full" formControlName="name" id="name" name="name" type="text">
    </div>

    <div class="mt-4 w-full">
        <label for="address">Address</label> <br>
        <input class="w-full" formControlName="address" id="address" name="address" type="text">
    </div>

    <button
            class="mt-4 px-4 py-2 rounded-lg text-sm font-semibold text-white bg-sky-400 hover:bg-sky-500"
            type="submit"
    >
        Purchase
    </button>
</form>