<div>
    <img alt="" src="">

    <h1>
        Recipe name
    </h1>

    <p>
        Recipe description
    </p>

    <div>
        Ingredients
    </div>

    <div class="mt-4 space-x-4">
        <button class="px-4 py-2 rounded-lg text-sm font-semibold text-white bg-orange-400 hover:bg-orange-500">
            Add to Shoping List
        </button>
        <button class="px-4 py-2 rounded-lg text-sm font-semibold text-white bg-orange-400 hover:bg-orange-500">
            Edit Recipe
        </button>
        <button class="px-4 py-2 rounded-lg text-sm font-semibold text-white bg-orange-400 hover:bg-orange-500">
            Delete Recipe
        </button>
    </div>
</div>